*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
footer{
    width: 91%;
    height: 150px;
    background-color: #F8F8FF;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.direccion{
    color: black;
    font-size: 30px;
    padding-top: 25px;
    padding-left: 100px;
    font-family: 'Josefin Sans', sans-serif;
}
.ubicacion{
    color: black;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 80px;
    font-family: 'News Cycle', sans-serif;
}
.face{
    width: 60px;
    height: 60px;
    padding-left: 550px;
    padding-top: 70px;
}
.insta{
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 65px;
}
.correo{
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-top: 70px;
}